<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>课件ID</th>
        <th>课件名称</th>
        <th>课件类型</th>
        <th>附件地址</th>
        <th>课程名称</th>
        <th>课程id</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="obj: ${elementList}">
        <td th:text="${obj.id}"></td>
        <td th:text="${obj.name}"></td>
        <td th:text="${obj.type}"></td>
        <td th:text="${obj.attachPath}"></td>
        <td th:text="${obj.courseName}"></td>
        <td th:text="${obj.courseId}"></td>
    </tr>

    </tbody>
</table>
</body>
</html>
